.search
 -#.reset_form
 -form_tag path, {:id => "search", :class => "" } do
  %fieldset
   %input{:type=>"search", :id=>'searchstring', :name=>'searchstring', :placeholder=>"Search", :class=> "search_box"}
   -#searchstring_auto_complete.auto_complete
   -#.inside

  